<h1>Add Customer Data</h1>

<br>
<form action="/addingdata" method="post">
    Id : <input type="number" name="id" ><br><br>
    Name : <input type="text" name="name" ><br><br>
    Adress : <input type="text" name="address" ><br><br>
    Phone : <input type="text" name="phone" ><br><br>
    Designation : <input type="text" name="desig" ><br><br>
    <input type="submit" value="submit">
</form>