<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1 style="padding-bottom: 3vw;">WELCOME TO HOME PAGE</h1>

<div id="amin" style="height: 60vh; width: 25vw; background-color:aquamarine; border-radius: 20px ; display: flex; flex-direction: column; align-items: center; justify-content: center;" >
    <div id="div" style="height: 5px; width: 5px; padding: 2vw; background-color:rgb(226, 248, 241); border-radius: 50%;position: relative;">
      <div id="add" style="display: flex; align-items: center; justify-content: center; height: 1vw; width: 1vw; border: 1px solid aquamarine; background-color: cornflowerblue; border-radius: 50%; position: absolute; bottom: 0; right: 5px;"><a style="text-decoration: none; color: white; font-weight: 900;" href="">+</a></div>
    </div>
    <br><br>
    <form action="/uploadfile" method="post" enctype="multipart/form-data" style=" display: flex; flex-direction: column;">
          <input style="padding: 1vw; outline: none; border: none; border-radius: 20px;" type="text" name="name" id="t1" placeholder="Enter Name "><br><br>
          <input style="padding: 1vw; outline: none; border: none; border-radius: 20px;" type="text" name="bio" id="t2" placeholder="Enter Bio"><br><br>
          <input style="padding: 1vw; outline: none; border: none; border-radius: 20px;" type="email" name="name" id="t3" placeholder="Enter E-mail"><br><br>
        <input style="padding: 0.8vw 1vw; outline: none; border: none; border-radius: 20px; background-color:cornflowerblue; color: white;cursor: pointer;" type="submit" value="Done">
    </form>
</div>
</body>
</html>