
<form method="post" action="/uploads" enctype="multipart/form-data">
    <div> 
       <label>Select your profile picture:</label> <input type="file"   name="image" />
    </div>
    <div> 
        <input type="submit" name="b1" value="Upload my file" /> 
    </div>
    
</form>