<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <table > <th>Account_No</th> <th>Customer_Name</th> <th>Balance</th>
        {{#each result}}

        <tr> <td style="padding: 1vw 2vw;">{{accno}}</td>   <td style="padding: 1vw 2vw;">{{name}}</td>   <td style="padding: 1vw 2vw;">{{balance}}</td> </tr>

         {{/each}}   
    </table>
</body>
</html>