
<form action="/api/employees_create" method="post">
  ID <input type="text" name="id" >   
  Name  <input type="text" name="name" >
Salary <input type="text" name="salary" >
  Age <input type="text" name="age" >

<input type="submit" >
           
</form>
