<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .login{
            width: 600px;
            height: 400px;
            background: #d7d5d5;
            color: #000;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 70px 30px;
            border: 1px solid black;
            border-radius: 5%;
            text-align: center;
        }

        .login-table{
            margin: 40px 145px;
            font-size: 20px;
        }

        .button{
            width: 150px;
            margin-top: 20px;
            font-size: 20px;
            padding: 2px;
        }
    </style>
</head>
<body>
    <div>
        <div class="login">
            <h1>Login</h1>
            <table class="login-table">
                <form action="/login" method="post">
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" name="username" required></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Login" class="button"></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</body>
</html>