<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY Candy</title>
    <!-- the google font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- the bootstarp css file  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <!-- the link to the css file  -->
    <style>
        body {
  font-family: "Montserrat", sans-serif;
  background-color: #dcab6b;
}
/* styleing of navbar section */
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
#mainNavbar .navbar-brand {
  color: #6a381f;
  font-size: 1.5rem;
}
#mainNavbar .nav-link {
  color: #533e2d;
}
#mainNavbar .nav-link:hover {
  color: #6a381f;
}
/* the section about the museum of candy */
#heading h1 {
  font-weight: 300;
  font-size: 3rem;
  color: #533e2d;
}
#heading span {
  color: #6a381f;
}
/* styling the body part  */
.stylingBody h2 {
  color: #6a381f;
  font-weight: 200;
  font-size: 2.5rem;
}
.stylingBody p {
  color: #400406;
  line-height: 2rem;
}
@media (max-width: 1200px) {
  #heading h1 {
    font-size: 3rem;
  }
}
    </style>
  </head>
  <body>
    <!-- the nav seciton  -->
    <nav id="mainNavbar" class="navbar navbar-expand-md py-0">
      <div class="container-fluid">
        <a href="" class="navbar-brand">Candy</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#itemsOfNavbar"
          aria-controls="itemsOfNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="itemsOfNavbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Tickets</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- the section my candy  -->
    <section>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div id="heading" class="text-center d-none d-lg-block">
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CHOCOLATE</h1>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            src="https://images.unsplash.com/photo-1614088685112-0a760b71a3c8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </section>

    <section class="container-fluid px-0">
      <!-- the milk section in the body part of museum of candy -->
      <div class="row align-items-center my-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="https://images.unsplash.com/photo-1627647227768-705244233b56?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 text-center order-1 order-lg-2 my-5 stylingBody">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h2>MUSEUM OF CHOCOLATE</h2>
              <img
                src="MyCandyImages/lolli_icon.png"
                alt=""
                class="d-none d-lg-inline"
              />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                dignissimos, harum aliquid nisi, facilis asperiores vitae
                commodi cupiditate esse tenetur animi explicabo fugit quod,
                blanditiis ipsa quam eaque? Libero, eveniet? Praesentium odit
                dicta mollitia, quis ut illum assumenda tempora ipsum odio
                perspiciatis consequatur exercitationem fuga ducimus labore qui
                eos est in omnis provident maxime dolor accusantium?
                Perspiciatis at repellendus ab!
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- the candy machine part in the body part of museum of candy -->
      <div class="row align-items-center my-5">
        <div class="col-lg-6 text-center my-5 stylingBody">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h2>MUSEUM OF CHOCOLATE</h2>
              <img
                src="MyCandyImages/lolli_icon.png"
                alt=""
                class="d-none d-lg-inline"
              />
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
                sit ut fuga inventore eaque dolores cum, esse amet maxime ipsam
                ea sed fugiat voluptas pariatur, obcaecati delectus, molestias
                autem debitis. Deserunt incidunt aut repellat rerum at ut,
                aperiam veniam animi possimus nesciunt. Fugiat iste enim itaque
                dicta dolore eum magni nostrum, minus, molestiae non culpa iure
                facilis soluta, perferendis cupiditate?
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            src="https://plus.unsplash.com/premium_photo-1671660015295-c1501ab15f80?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <!-- the sprinkles part in the body part of museum of candy -->
      <div class="row my-5 align-items-center">
        <div class="col-lg-6 order-2 order-lg-1">
          <img
            src="https://plus.unsplash.com/premium_photo-1667031518595-9cb4b0d504ef?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center stylingBody">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h2>MUSEUM OF CHOCOLATE</h2>
              <img
                src="MyCandyImages/lolli_icon.png"
                alt=""
                class="d-none d-lg-inline"
              />
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
                vero temporibus necessitatibus atque neque facere voluptates
                accusantium repellendus hic. In adipisci quae placeat deleniti
                commodi magni, illo ipsa sapiente! Nulla! Necessitatibus
                explicabo dolor laudantium officia esse tempora. Explicabo
                voluptate dolore, atque qui, temporibus illo fuga nesciunt magni
                quidem ipsum maiores necessitatibus perferendis, vel numquam!
                Magni autem sit assumenda minus quae.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- the bootstarp javascript file  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>