<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>USER DATA</h1><br>
  <ol id="userlist">
    
  </ol>
</body>

    <script>
        var list = document.getElementById('userlist');
        var userDt = JSON.parse(localStorage.getItem('userDt'))
        console.log(userDt)
        var li = ""
            for(let i in userDt){
                li += `<li> Name :${userDt[i].username} , Password : ${userDt[i].password} </li>`
            }   
        list.innerHTML = li
    </script>
</html>